<h1 class="board-title"><%= board.escape("title") %></h1>

<div "list-container-wrapper group">
  <ul class="list-container group list-sortable">

  </ul>

  <div class="list-form-container idle"><a href="#" class="add-list-btn">Add a list...</a></div>
</div>
