<ul class="boards-list row">
  <% boards.each( function (board) { %>
    <a class="board-link" href="#b/<%=board.id%>" data-id="<%=board.id%>"><li class="boards-list-item col=md-4"><%= board.escape("title") %></li></a>
  <% }) %>
</ul>
