/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */
//
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.boards-list {
  position: absolute;
  margin: 10px 30px;
  width: 100%;
}

.boards-list-item {
  width: 25%;
  display: block;
  float: left;
  margin: 20px;
  padding: 20px;
  background-color: #0079BF;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  border-radius: 3px;
}

.boards-list-item:hover {
  background-color: darken(#0079BF, 5%);
}

.group:after {
  content: "";
  clear: both;
  display: block;
}
