
<strong class="list-title"><%= list.escape("title") %></strong>

<ul class="cards-container cards-droppable">
</ul>

<div class="buttons-container"><a href="#" class="add-card-btn">Add a card...</a></div>
